@use "../../scss/abstracts/" as *;

.container{
    width: 80%;
    display: flex;
    justify-content: center;    
    flex-direction: column;    
    gap: 0.4rem;
    font-family: 'Audiowide', cursive;
    letter-spacing: 0.2rem;
    font-size: 1.4rem;
    color: $color-green-500;

    input{
      @include in-neumorph;
      width: 100%;
      outline: none;
      padding: 1rem;
      border-radius: 0.8rem;
      border: none;
      font-weight: 600;
      color:$color-green-500;
    }

    input::placeholder{
        color: $color-green-100;
        opacity: 0.6;
    }
    
  
}