@use "../../scss/abstracts/" as *;

.container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;  
    align-items: center;  
    flex-direction: column;    
    gap: 0.4rem;
    font-family: 'Audiowide', cursive;
    letter-spacing: 0.2rem;
    font-size: 1.4rem;
    background-color: $color-gray-025 ;    
    z-index: 5;  

    form{
     
      width: 45rem;
      height: 45rem;
      @include out-neumorph;
    }

    .modalHeader{
      display: flex;
      width: 90%;
      gap: 2rem;
      margin-bottom: 3rem;

      h2{

        font-size: 2.5rem;
        width:80%;
        text-align: center
      }

      button{
        @include circle-neumorph;
        display: grid;
        place-content: center;
        border-radius: 50%;
        border: none;
        width: 4rem
      }
      button:active{
        @include out-circle-neumorph;        
        color: $color-red-300;
      }
     
    }

    .btm{
      @include out-neumorph;
      border: none;
      border-radius: 12px;
      width: 50%;
      height: 3.5rem;
      font-size: 2rem;
      font-weight: bold;
      margin-top: 3rem;
    }
    .btm:active{
      @include in-neumorph;
      border-radius: 12px;
      color: $color-red-300;
    }
}