@mixin out-neumorph {
  background: #C8CEEA;
  border-radius: 15%;
  box-shadow: 9.91px 9.91px 15px #B6BBD5, -9.91px -9.91px 15px #DAE1FF;
}

@mixin in-neumorph{
  background: #C8CEEA;
  border-radius: 15%;
  box-shadow: inset 9.91px 9.91px 15px #B6BBD5, inset -9.91px -9.91px 15px #DAE1FF;
}