@mixin out-neumorph {
  background: #454545;
  border-radius: 15%;
  box-shadow: 9.91px 9.91px 15px #3F3F3F, -9.91px -9.91px 15px #4B4B4B;
}
// background: #454545;
// border-radius: 100%;
// box-shadow: inset 9.91px 9.91px 15px #3F3F3F, inset -9.91px -9.91px 15px #4B4B4B;
@mixin in-neumorph{
  background: #454545;
  border-radius: 15%;
  box-shadow: inset 9.91px 9.91px 15px #3F3F3F, inset -9.91px -9.91px 15px #4B4B4B;
}

@mixin circle-neumorph{
  background: #454545;
  border-radius: 100%;
  box-shadow: 9.91px 9.91px 15px #3F3F3F, -9.91px -9.91px 15px #4B4B4B;
}

@mixin out-circle-neumorph{
  background: #454545;
  border-radius: 100%;
  box-shadow: inset 9.91px 9.91px 15px #3F3F3F, inset -9.91px -9.91px 15px #4B4B4B;
}

@mixin selected-neumorph{
  @include in-neumorph;  
  font-family: 'Audiowide', cursive;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 12px;
}

@mixin unselected-neumorph{
  @include out-neumorph;  
  font-family: 'Audiowide', cursive;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 12px;
}

@mixin sub-title{
  font-size: 1.9rem;
  font-weight: 700;
  font-family: 'Audiowide', cursive;
}