$color-red-500: #e91010;
$color-red-400: #900606;
$color-red-300: #800f0f;
$color-red-200: #620303;
$color-red-100: #510000;
$color-green-500: #66cc99;
$color-green-400: #59b38c;
$color-green-300: #4d9d7f;
$color-green-200: #408671;
$color-green-100: #347964;
$color-gray-500: #f2f2f2;
$color-gray-400: #e5e5e5;
$color-gray-300: #d8d8d8;
$color-gray-200: #cbcbcb;
$color-gray-100: #bebebe;
$color-gray-050:#C8CEEA;
$color-gray-025:rgba(69, 69, 69,0.6);
$color-black-500: #5e5e5e;
$color-black-400: #454545;
$color-black-300: #242424;
$color-black-200: #202020;
$color-black-100: #000000;