@use "../../scss/abstracts/" as *;

.container{
    width: 100%;
    height: auto;
    padding: 3rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 550px;
    gap: 2rem;

    @include out-neumorph;
    
    div{
        display: flex;
        width: 80%;
        justify-content: space-around;
    }
}

.login{
    @include unselected-neumorph;
    color: $color-green-500;
    transition: 0.1s ease-in-out;
    
 }

 .login:focus{
    @include selected-neumorph;
    border-radius: 12px;
    color: $color-green-200;
}

 .register{
    @include selected-neumorph;
    color: $color-green-200; 

 }

.btm{
    @include out-neumorph;
    border: none;
    border-radius: 12px;
    width: 50%;
    height: 3.5rem;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
    color:$color-green-500;
}
.btm:active{
    @include in-neumorph;
    border-radius: 12px;
    color:$color-green-200;
}