@use "./abstracts" as *;
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Share+Tech&display=swap');

:root {
  font-size: 60%;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #e80202 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 0.6rem;
  }

  *::-webkit-scrollbar-track {
    background: none;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #e80202;
    border-radius: 10px;
    border: 1px solid #ffffff;
  }

body,
html {
  width: 100vw;
  height: 100vh;
}

body {
  color: $color-red-500;
  -webkit-font-smoothing: antialiased;
  background-color: $color-gray-050;
  overflow-x: hidden;
  
}

main,header{
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 500;
  font-family: 'Audiowide', cursive;
  letter-spacing: 0.2rem;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}