@use "./abstracts" as *;
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

:root {
  font-size: 60%;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100vw;
  height: 100vh;
}

body {
  color: $color-red-500;
  -webkit-font-smoothing: antialiased;
  background-color: $color-gray-050;
  overflow-x: hidden;
  
}



h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 500;
  font-family: 'Audiowide', cursive;
  letter-spacing: 0.2rem;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}